@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100dvh;
}
#root{
    height: 100%;
}
.container{
    margin-inline : auto;
  }
  /* Mobile */
  @media (min-width: 768px) {
    .container {
      width: 738px;
    }
  }
  /* tablet */
  @media (min-width: 992px) {
    .container {
      padding-inline: 20px;
      width: 970px;
    }
  
  }
  /* desktop */
  @media (min-width: 1200px) {
    .container {
      width: 1270px;
    }
  }

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border : 1px solid #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}